<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="textBoxDefaultTimeInverval" value="30" />
    <add key="textBoxOptionalTimeInterval" value="90" />
    <add key="textBoxRoundTimes" value="1" />
    <add key="ActivityList" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>